{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- This is needed to push the content down under the navigation bar -->
<div class="container top-head-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Main homepage container -->
<div class="container-fluid h-100 px-0 index-con">
    <div class="row h-100 g-0">
        <div class="col-12">
            <h1>Welcome to the weekly commission for Goldline Taxis</h1>
        </div>
    </div>
</div>
{% endblock %}