{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}
<h2 class="custom-font-head fw-bold text-uppercase text-spacing mt-5">{% trans "Login" %}</h2>
<hr>

<p>Please login using your driver number and pin</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.login | as_crispy_field }}
  {{ form.password | as_crispy_field }}
  {{ form.remember | as_crispy_field }}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn btn-outline-dark rounded-0 allauth-home-btn" href="{% url 'home' %}">Home</a>
  <button class="primaryAction btn btn-dark custom-bg rounded-0" type="submit">{% trans "Login" %}</button>
</form>
{% endblock %}
